 <figure>
 <blockquote class="blockquote"><p>
<%= @user_ask %></p>
</blockquote>
 <figcaption class="blockquote-footer">
  You
 </figcaption>
  </figure>

 <figure>
 <blockquote class="blockquote"><p>
<p><%= @answer %></p>
</blockquote>
<figcaption class="blockquote-footer">
  Your Coach
 </figcaption>
  </figure>


<p><%= link_to "Ask the coach another question", ask_path %></p>
